<ul>
  <li>{{ getRoot() }}</li>
  <ng-container *ngTemplateOutlet="tree; context: {node: getRoot()}"></ng-container>
  <!-- @if(input[node] && input[node].length > 0) {
    @for (item of input[getRootNode()]; track $index) {
      <ul>
        <li>{{item}}</li>
        @for(childItem of input[item]; track $index) {
          <ul>
            <li>{{childItem}}</li>
            @for(childItem of input[item]; track $index) {
              <ul>
                <li>{{ childItem }}</li>
              </ul>
            }
          </ul>
        }
      </ul>
    }
  } -->
</ul>

<ng-template #tree let-node="node">
  @if(input[node] && input[node].length > 0) {
    <ul>
      @for (item of input[node]; track $index) {
      <li>
        {{item}}
        <ng-container *ngTemplateOutlet="tree; context: {node: item}"></ng-container>
      </li>
    }
    </ul>
  }
</ng-template>